*{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url(../images/climate2.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: new time roman ;

}
.col-md-7{
  margin-top: 14%;
  
}
.col-md-10{
  padding-left: 20px!important;
  width: 60%!important;
  color:  white;
  font-size:22px;
}
h1{
  font-size: 50px;
  font-weight: bold;
  
  color: white!important;

}
p {
  font-size: 25px;
  margin-left:500px;
  color: #97E3F8;
}
.h3 , h3  {
  font-size: 25px;
  color: white!important;
}
.glyphicon-pencil{
  font-size: 35px;
  color: white;
  float: right;
  margin-top: 20px;
  }
  .col-md-5{
    margin:150px 150px;
    padding:50px;
    box-shadow: -1px 1px 30px 10px red;
    background: rgba(0,0,0,0.4);
	border:3px solid white;
	border-radius:10px;
  }
  .label{
    font-weight: bold!important;
    margin-top: 20px;
    color: white;
    font-size: 150%!important;

  }
  .form-control{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 24px;
    margin-top: 10px;
    height: 40px;
    color: white;
  }
  .btn-info  {
    margin-top: 20px;
    font-size: 35px;
    width:50px;
    margin-left: 100px;
    margin-bottom: 30px;
  }
.kl{
  margin-left: 45px;
  font-size:20px;
  padding-top:2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  color: black !important;
}
