*{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url(../images/climate2.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Arial Black", Gadget, sans-serif;

}
.col-md-7{
  margin-top: 14%;
  margin-left:28%;
  
}
.row{
	width:1024px;
}
.col-md-10{
  padding:10px;
  padding-left: 25px!important;
  padding-right:50px!important;
  width: 25%!important;
  color:  white;
  font-size:22px;
}
.text-left{
	font-size:50px;
	font-family: 'Lilita One', cursive;
	margin-left:-20px;
	 margin-top:-80px;
}
h1{
  font-size: 100px;
  font-weight: bold;
  margin-left:500px;
  color: white!important;

}
p {
  font-size: 25px;
  margin-left:500px;
  color: #fcda02;
}
.h3 , h3  {
  font-size: 25px;
  color: white!important;
}
.glyphicon-pencil{
  font-size: 35px;
  color: white;
  float: right;
  margin-top: 20px;
  margin-right:385px;
  }
    .col-md-5{
	height:800px;
    width:10px;
    margin:10px 375px;
    padding:5px;
    box-shadow: -1px 1px 10px 8px #ff6600;
    background: rgba(0,0,0,0.4);
	border:3px solid white;
	border-radius:10px;
  }
   .col-md-6{
	   margin-left:-120px;
   }
  .label{
    font-weight: bold!important;
    margin-top: 20px;
    color: white;
    font-size: 150%!important;

  }
  .form-control{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 24px;
    margin-top: 10px;
    height: 40px;
    color: white;
  }
  .btn-info  {
    margin-top: 20px;
    font-size: 35px;
    width:50px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
.kl{
   margin: 50px 150px;
  font-size:20px;
  padding-top:2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  color: black !important;
}
